{% extends "cms_admin/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load constant_tags %}

{% block title %}Create Wallet Advance{% endblock %}

{% block content %}
    <br><br><br>
    <div class="col-lg-6 m-auto">
        <div class="card">
            <div class="card-header bg-success font-weight-bold text-white">
                <h3>Create Wallet Advance</h3>
            </div>
            <div class="card-body">
                <div>
                    <form method="post">
                        {% csrf_token %}
{#                        {{ form|crispy }}#}

                        <div class="row">
                            <div class="col-lg-6 form-group">
                                {{ form.wallet|as_crispy_field }}
                            </div>
                            <div class="col-lg-6 form-group">
                                {{ form.payed_on|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                {{ form.amount|as_crispy_field }}
                            </div>
                            <div class="col-lg-4 form-group">
                                {{ form.gateway|as_crispy_field }}
                            </div>
                            <div class="col-lg-4 form-group">
                                {{ form.payment_no|as_crispy_field }}
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script>
        let gateway_elem = $("#id_gateway");
        let payment_no_elem = $("#id_payment_no");
        gateway_elem.on("change", function () {
            if (gateway_elem.val()==="AC"){
                payment_no_elem.val("{% get_actr_prefix %}")
            }
            else if (gateway_elem.val()==="CS"){
                payment_no_elem.val("{% get_cash_code_prefix %}")
            }
            else{
                payment_no_elem.val("-")
            }
        });

        $(function () {
            gateway_elem.change();
        })
    </script>
{% endblock %}